[Unit]
Description=System Sensor service
After=multi-user.target

[Service]
User=root
Type=idle
ExecStart=/usr/bin/python3 /var/www/add_on/HomeAssistant/HA_integration.py

[Install]
WantedBy=multi-user.target